@import url(../font/font.css);
* {
    box-sizing: border-box;
}
body {
    margin-top: auto;
    color: #ffffff;
    font-family: "JetBrainsMono";     
    background-color: #0D121C;
    /* background-image:
    url(https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); */   
}
#up-arrow {
    position: fixed;
    right: 28px;
    bottom: 28px;
    z-index: 3;        
}
h2 {    
    width: fit-content;
    margin: 0 auto;
    padding-top: 55px;      
}
p {
    text-align: left;
    font-size: 1em;
}
.list {
    display: flex;
    flex-direction: column;
    color: hsla(0, 0%, 100%, .8);
}
li:nth-child(even) {
    background-color: hsla(0, 0%, 0%, .7);    
}

li:nth-child(odd) {
    background-color: hsla(0, 0%, 0%, .3);
}
#header {
    display: flex;
    justify-content: center;
    font-style: italic;
}
#header:hover {
    color: #0D121C;
    transform: rotate(3deg);
    transition: all 1s;
}
.nav {    
    position: sticky;
    top: 0px;
    z-index: 2;
    display: flex;
    margin: 0px -8px;
    justify-content: space-evenly;
    align-items: center;            
    height: 3em;
    background-color: #0D121C;
    border-bottom: 1px solid #84BA64;
    font-size: 1em;
    color: #ffffff;        
}
.nav a {
    padding: .5em; 
    color: #ffffff;
}
.nav a:visited {
    color: #ffffff;
}
.nav a:hover {
    color: #84BA64;    
    background: #0D121C;
    transition: 1s;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 10px;              
}
.nav a:active {
    color: rgb(255, 0, 0);
}
h2:hover {
    color: #84BA64;
    transition: 1s;    
}
.nav a {
    text-decoration-line: none;
}
.myphoto:hover img {
    transform: scale(1.1);    
}
.myphoto {
    position: relative;
    margin: 0 auto;
    width: 300px;     
}  
.myphoto img {
    width: 300px;
    object-fit: cover;
}
.myphoto::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: border-box linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(125, 123, 108, 0.5));*/
}  
.myphoto::before {
    content: "Раиф Абдулбяров - Frontend Developer";
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(255, 255, 255);
    z-index: 1;
}